body{
    display: block;
    margin: 0;
}

.navbar{
    background-color: green;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    border-bottom: medium solid black;
}

.add-button{
    height: 10vh;
    width: 20%;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    text-decoration: none;
    color: white;
}

.add-button:hover{
    background-color: black;
}

.info-button{
    height: 10vh;
    width: 20%;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    text-decoration: none;
    color: white;
}

.info-button:hover{
    background-color: black;
}

#info{
    background-color: black;
    width: 100%;
    height: 140vh;
}

#background-video {
    width: 120vw;
    height: 150vh;
}

.container{
    background-color: rgba(186, 187, 188, 0.7);
    width: 100vw;
    margin-top: -100vh;
    height: 60vh;
    position: absolute;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    width: 100vw;
    margin-top: -140vh;
    height: 10vh;
    position: absolute;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add{
    background-image: url(./assets/strada-frumi.png);
    
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: black;
    padding: 4rem;
}

input{
    height: 2rem;
    width: 20rem;
}

